.projects-list.container
  h1 
    | Les projets 
    small du Wax 2015
  
  form(ng-submit='save()', name='form', novalidate='')
    p.input-group(ng-if="$root.currentUser && $root.isInRole('coder', 'waxer')")
      input.form-control(type='text', placeholder='Nom', ng-model='newProject.name')
      span.input-group-btn
        input.btn.btn-primary(type='submit', value='Ajouter')
    hr
    .input-group.col-xs-4.col-xs-offset-8
      input.form-control(type='search', ng-model='search', placeholder='Rechercher')
      .dropdown.input-group-btn(dropdown='', on-toggle='toggled(open)')
        button.btn.btn-primary.dropdown-toggle(dropdown-toggle='') {{ orderProperty==='1' ? 'Ascendant' : 'Descendant' }}
          span.caret
        ul.dropdown-menu(role='menu')
          li(ng-click="orderProperty='1'") Ascending
          li(ng-click="orderProperty='-1'") Descending
  
  br
  
  p(class="alert alert-info", ng-if="projectParticipe[0]._id") 
      | Je participe au projet : 
      a(href='/projects/{{projectParticipe[0]._id}}') {{ projectParticipe[0].name }} 
  .row
      .col-xs-12.col-sm-4.col-md-3.repeat-animation(dir-paginate='project in projects | itemsPerPage: perPage', total-items='projectsCount.count',  current-page='page')
          .box
            .box-icon
              img(class="", ng-src='{{getMainImage(project.image)}}')
            .info
                h4.text-center {{ project.name }}
                div.description
                    div(ng-bind-html="getHtml(project.description)") 
                    //- div.images(ng-repeat='image in project.images')
                    //-     img(class="img-responsive", ng-src='{{getImageUrl(project.images,image.id)}}')
                div.buttons
                    liker(project="project", ng-if='$root.currentUser')
                    a.btn(ng-if='hasRights(project)', ng-click='remove(project)', tooltip="Supprimer")
                        i(class="fa fa-trash-o")
                    a.btn(ng-if='hasRights(project)', href='/projects/{{project._id}}', tooltip="Editer")
                        i(class="fa fa-pencil")
                    a.btn(ng-if='!hasRights(project)', href='/projects/{{project._id}}', tooltip="Voir") 
                        i(class="fa fa-eye")
                    //- a.btn(ng-if='!hasRights(project)', href='/projects/{{project._id}}', title="J'aime") 
                    //-     i(class="fa fa-thumbs-o-up")
                    //- a.btn(ng-if='!hasRights(project)', href='/projects/{{project._id}}', title="Participer") Participe
                div.avatars(ng-if="project.participants")
                    avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                    avatar(user='getUser(particip.id)[0]', width='40', imageonly="true", style="display:inline", ng-repeat="particip in project.participants")
                div.avatars(ng-if="!project.participants")
                    avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                
      dir-pagination-controls.col-md-12(on-page-change='pageChanged(newPageNumber)')
  hr
  p Nombre de projets: {{projectsCount.count}}
