.projects-list.container
  h1 Projets
  form(ng-submit='save()', name='form', novalidate='')
    p.input-group(ng-if="$root.currentUser")
      input.form-control(type='text', placeholder='Nom', ng-model='newProject.name')
      span.input-group-btn
        input.btn.btn-primary(type='submit', value='Ajouter')
    hr
    .input-group.col-xs-4.col-xs-offset-8
      input.form-control(type='search', ng-model='search', placeholder='Rechercher')
      .dropdown.input-group-btn(dropdown='', on-toggle='toggled(open)')
        button.btn.btn-primary.dropdown-toggle(dropdown-toggle='') {{ orderProperty==='1' ? 'Ascendant' : 'Descendant' }}
          span.caret
        ul.dropdown-menu(role='menu')
          li(ng-click="orderProperty='1'") Ascending
          li(ng-click="orderProperty='-1'") Descending
  br
  .row
      .col-xs-12.col-sm-3.repeat-animation(dir-paginate='project in projects | itemsPerPage: perPage', total-items='projectsCount.count',  current-page='page')
          .box
            .box-icon
              img(class="", ng-src='{{getMainImage(project.images)}}')
            .info
                h4.text-center {{ project.name }}
                div.description
                    div(ng-bind-html="getHtml(project.description)") 
                    //- div.images(ng-repeat='image in project.images')
                    //-     img(class="img-responsive", ng-src='{{getImageUrl(project.images,image.id)}}')
                div.buttons
                    a.btn(ng-if='hasRights(project)', ng-click='remove(project)') Supprimer
                    a.btn(ng-if='hasRights(project)', href='/projects/{{project._id}}') Editer
                    a.btn(ng-if='!hasRights(project)', href='/projects/{{project._id}}') Voir
                div.avatars(ng-if="project.participants")
                    img.avatar(data-toggle="tooltip", data-placement="top", title="{{getUser(project.owner)[0].emails[0].address}}", width="40", ng-src="{{getAvatarUrl(getUser(project.owner)[0].profile.avatar)}}")
                    img.avatar(data-toggle="tooltip", data-placement="top", title="{{getUser(particip.id)[0].emails[0].address}}", width="40", ng-repeat="particip in project.participants", ng-src="{{getAvatarUrl(getUser(particip.id)[0].profile.avatar)}}")
                div.avatars(ng-if="!project.participants")
                    img.avatar(src="avatar.jpg", width="40", ng-src="{{getAvatarUrl(getUser(project.owner)[0].profile.avatar)}}")
      dir-pagination-controls.col-md-12(on-page-change='pageChanged(newPageNumber)')
  hr
  p Nombre de projets: {{projectsCount.count}}
