.project-detail.container
    a.btn.btn-default.pull-right(href="/projects") Retour
    h1 {{project.name}}
    div(ng-if='hasRights()')
        h1 Détails du projet
        form(ng-submit='save()', name='form', novalidate='')
            .row
                .col-sm-12
                    h3 Nom
                    input.form-control(type='text', placeholder='Name', ng-model='project.name')
            .row
                .col-sm-2
                    h3 Images
                    .project-image-container(ng-if="!project.image", ng-click="showPopup()")
                        img(class="img-responsive", src='http://placehold.it/200x200/')
                        a.btn.btn-default.btn-add-image Ajouter une image
                    .project-image-container(ng-if='project.image', ng-click="showPopup()")
                        img(class="img-responsive", ng-src='{{getMainImage()}}')
                        a.btn.btn-default.btn-add-image Ajouter une image
                .col-sm-10
                    h3 Description
                    textarea.form-control(summernote="", class="description", placeholder='description', ng-model='project.description')
            div.avatars(ng-if="project.participants")
                avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                avatar(user='getUser(particip.id)[0]', width='40', imageonly="true", style="display:inline", ng-repeat="particip in project.participants")
            div.avatars(ng-if="!project.participants")
                avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
            
            .row.buttons
                liker(project="project", ng-if='$root.currentUser', css-classes="btn btn-primary")
                input.btn.btn-primary(type='submit', value='Sauver')
                a.btn.btn-default(href='/projects') Retour
    div(ng-if='!hasRights()')
        .row
            .col-xs-12.col-sm-12
                .box
                  .box-icon
                    img(class="", ng-src='{{getMainImage()}}')
                  .info
                      h4.text-center {{ project.name }}
                      div.description-full
                          div(ng-bind-html="getHtml(project.description)") 
                          p(ng-if="!project.description ") Pas de description
                        .buttons
                            .btn.btn-primary(ng-if="$root.currentUser", ng-show="!isAParticipant() && !isAParticipantInAnotherProject()", ng-click="join()") Je participe !
                            .btn.btn-danger(ng-if="$root.currentUser", ng-show="isAParticipant() && !isAParticipantInAnotherProject()", ng-click="unjoin()") Je ne participe plus
                            .btn.btn-default(ng-if="$root.currentUser", ng-show="isAParticipantInAnotherProject()", disabled="disabled") Je participe à un autre événement
                            liker(project="project", ng-if='$root.currentUser', css-classes="btn btn-primary")
                            a.btn.btn-default(href='/projects') Retour  
                      div.avatars(ng-if="project.participants")
                          avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                          avatar(user='getUser(particip.id)[0]', width='40', imageonly="true", style="display:inline", ng-repeat="particip in project.participants")
                      div.avatars(ng-if="!project.participants")
                          avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline") 
                               
.modal.fade(id="popup")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Ajout d'image
      .modal-body
          .drop-box(ng-hide="imgSrc", ngf-drop='', ngf-select='', ngf-change='addImages($files)', ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", ngf-multiple='false', ngf-allow-dir='false', ngf-accept="'image/*'", ngf-drop-available='dropAvailable')
              div Click here to select image
              strong OR
              div(ng-show='dropAvailable') You can also drop image to here
          .ng-crop-container(ng-show='imgSrc')
            p Great! Now edit & crop your image...
            img-crop(image='imgSrc', result-image='myCroppedImage', area-type='square')
      .modal-footer
          a.btn.btn-primary(ng-click='saveCroppedImage()', ng-disabled='!imgSrc') Save Image     
