.project-detail.container
  a.btn.btn-default.pull-right(href="/projects") Retour
  h1 {{project.name}}
  div(ng-if='hasRights()').row
    form(ng-submit='save()', name='form', novalidate='')
      .col-md-4
        .card
          .image
            .project-image-container(ng-if="!project.image", ng-click="showPopup()")
              img(class="img-responsive", src='http://placehold.it/360x200/')
            .project-image-container(ng-if='project.image', ng-click="showPopup()")
              img(class="img-responsive", ng-src='{{getMainImage()}}')
          .content
            a.btn.btn-default.btn-block.btn-add-image(ng-click="showPopup()") Ajouter une image
          .content
            .buttons
              //- a.btn.btn-default(href='/projects') Retour
              liker(project="project", ng-if='$root.currentUser', css-classes="btn btn-default")
              a.btn.btn-primary(ng-click='save()') Sauver
          .content
            .table-responsive
              table.table
                tr
                  td 
                    i.fa.fa-calendar
                    |  Créé depuis :
                  td {{projectCreatedDate()}}
                tr
                  td
                    i.fa.fa-user
                    |  Par :
                  td
                    avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                tr
                  td
                    i.fa.fa-users
                    span  {{project.participants.length +1 }} participants :
                  td
                    .avatars(ng-if="project.participants")
                      avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                      avatar(user='getUser(particip.id)[0]', width='40', imageonly="true", style="display:inline", ng-repeat="particip in project.participants")
                    .avatars(ng-if="!project.participants")
                      avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                  
      .col-md-8
        .card
          .content
            .title
              h3 Nom
              input.form-control(type='text', placeholder='Name', ng-model='project.name')
          .content
            h3 Description
            textarea.form-control(summernote="", class="description", placeholder='description', ng-model='project.description')
                
  div(ng-if='!hasRights()')
    .row.project-detail
      .col-md-4
        .card
          .image
            a(href='/projects/{{project._id}}')
              img.img-responsive.project-image(ng-src='{{getMainImage(project.image)}}')
          .content.clearfix
            .buttons
              //- a.btn.btn-default(href='/projects') Retour  
              liker(project="project", ng-if='$root.currentUser', css-classes="btn btn-default")
              .btn.btn-primary(ng-if="hasParticipeRights()", ng-show="!isAParticipant() && !isAParticipantInAnotherProject()", ng-click="join()") Je participe !
              .btn.btn-danger(ng-if="hasParticipeRights()", ng-show="isAParticipant() && !isAParticipantInAnotherProject()", ng-click="unjoin()") Je ne participe plus
              .btn.btn-default(ng-if="hasParticipeRights()", ng-show="isAParticipantInAnotherProject()", disabled="disabled") Je participe à un autre événement
              
          .content
            .table-responsive
              table.table
                tr
                  td 
                    i.fa.fa-calendar
                    |  Créé depuis :
                  td {{projectCreatedDate()}}
                tr
                  td
                    i.fa.fa-user
                    |  Par :
                  td
                    avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                tr
                  td
                    i.fa.fa-users
                    span  {{project.participants.length +1 }} participants :
                  td
                    .avatars(ng-if="project.participants")
                      avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                      avatar(user='getUser(particip.id)[0]', width='40', imageonly="true", style="display:inline", ng-repeat="particip in project.participants")
                    .avatars(ng-if="!project.participants")
                      avatar(user='getUser(project.owner)[0]', width='40', imageonly="true", style="display:inline")
                tr
                  td
                    i.fa.fa-heart
                    span  {{project.likers.length }} likers :
                  td
                    .avatars
                      avatar(user='getUser(liker)[0]', width='40', imageonly="true", style="display:inline", ng-repeat="liker in project.likers")

      .col-md-8
        .card
          .content
            .title
              a(href='/projects/{{project._id}}') 
                h2 {{ project.name }}
            .desc-full(ng-bind-html="getHtml(project.description)")
  
  .comment-container(ng-class="((comments.length > 0)?'':'col-md-8 col-md-offset-4')")    
    .card
      .content
        .row
          .left-inset(ng-class="((comments.length > 0)?'col-md-4':'col-md-12')")
            .title
              h2 Laisser un commentaire
            br
            form(ng-submit='sendComment()', name='form', novalidate='')
              p.input-group
                input.form-control(type='text', placeholder='Message', ng-model='newChat.message')
                span.input-group-btn
                  input.btn.btn-primary(type='submit', value='Envoyer')
                  
            .alert.alert-info    
              .row
                .col-sm-12
                  p Sont actuellement sur cette page :
                .col-sm-10
                  avatar(user='getUser(chatter.userId)[0]', width='40', imageonly="true", style="display:inline", ng-repeat='chatter in chatters') 
                   
          .col-md-8
            div.comments
              br
              ul.timeline(ng-if="comments.length > 0")
                li(ng-repeat="chat in comments", class="chat-item")
                  .timeline-badge(ng-class="isOnline(chat.user)?'online':''")
                      avatar(user='chat.user', width="50", imageonly="true")
                  .timeline-panel(ng-class="isOnline(chat.user)?'online':''")
                    .timeline-heading
                      p(class="pull-right")
                        small.text-muted
                          | {{chat.user.profile.lastName}} {{chat.user.profile.firstName}}&nbsp;&nbsp;&nbsp;
                          i.glyphicon.glyphicon-time
                          |  {{chatTime(chat.createdAt)}}
                      h4.timeline-title {{chat.message}}
                    .timeline-body
                      p 
                               
.modal.fade(id="popup")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Ajout d'image
      .modal-body
          .drop-box(ng-hide="imgSrc", ngf-drop='', ngf-select='', ngf-change='addImages($files)', ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", ngf-multiple='false', ngf-allow-dir='false', ngf-accept="'image/*'", ngf-drop-available='dropAvailable')
              div Cliquez ici pour sélectionner une image
              strong OU
              div(ng-show='dropAvailable') Fropper une image depuis votre système ici
          .ng-crop-container(ng-show='imgSrc')
            p Parfait ! Maintenant, éditez votre image pour qu'elle soit conforme...
            img-crop(image='imgSrc', result-image='myCroppedImage', area-type='rectangle', area-min-size="{w:360, h:200}", aspect-ratio="1.8", result-image-size='{w:360, h:200}')
      .modal-footer
          a.btn.btn-primary(ng-click='saveCroppedImage()', ng-disabled='!imgSrc') Save Image     
