.main.container
    h1 
        | Bienvenue 
        small sur le site du Wax
#tf-about.fade(ng-class="showClass")
      .container
        .row
          .col-md-6
            img.img-responsive(src='img/02.png')
          .col-md-6
            .about-text
              .section-title
                h4 A propos du WAX
                h2
                  | Quelques mots 
                  strong sur nous
                hr
                .clearfix
              p.intro
                a(href="http://atixnet.fr") Atixnet
                | &nbsp;présente le 
                b WAX.
                | &nbsp;Toute l'équipe d'aujourd'hui prépare les technologies de demain.
              ul.about-list
                li
                  span.fa.fa-dot-circle-o
                  strong Workshop
                  |  
                  em
                li
                  span.fa.fa-dot-circle-o
                  strong Atixnet
                  |  
                  em 
                li
                  span.fa.fa-dot-circle-o
                  strong Xperience
                  |  
                  em 

#tf-team.text-center.fade(ng-class="showClass")
      .overlay
        .container
          .section-title.center
            h2
              | Les 
              strong WAXers
            .line
              hr
          #team.owl-carousel.owl-theme.row(owl-carousel="team", owl-options="{}")
            .item()
              .thumbnail
                img.img-circle.team-img(ng-src="{{item.image}}", alt='...')
                .caption
                  h3 {{item.name}}
                  p {{item.intro}}
                  p {{item.description}}
            
  .align-center.fade(ng-class="showClass")
      img(src="YellowCheeseWax.jpg")
  nav#footer.fade(ng-class="showClass")
  .container
    .pull-left.fnav
      p
        | ALL RIGHTS RESERVED. COPYRIGHT © 2014. Made with Meteor and with 
        i.glyphicon.glyphicon-heart-empty
        |  by 
        a(href="https://github.com/julienfroidefond/wax") Julien Froidefond
    .pull-right.fnav
      ul.footer-social
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-dribbble
        li
          a(href='#')
            i.fa.fa-google-plus
        li
          a(href='#')
            i.fa.fa-twitter
