.main.container
    h1 
        | Bienvenue 
        small sur le site du Wax
#tf-about
      .container
        .row
          .col-md-6
            img.img-responsive(src='img/02.png')
          .col-md-6
            .about-text
              .section-title
                h4 A propos du WAX
                h2
                  | Quelques mots 
                  strong sur nous
                hr
                .clearfix
              p.intro
                a(href="http://atixnet.fr") Atixnet
                | &nbsp;présente le 
                b WAX.
                | &nbsp;Toute l'équipe d'aujourd'hui prépare les technologies de demain.
              ul.about-list
                li
                  span.fa.fa-dot-circle-o
                  strong Workshop
                  |  
                  em
                li
                  span.fa.fa-dot-circle-o
                  strong Atixnet
                  |  
                  em 
                li
                  span.fa.fa-dot-circle-o
                  strong eXperience
                  |  
                  em 

#tf-team.text-center
      .overlay
        .container
          .section-title.center
            h2
              | Les membres 
              strong du WAX
            .line
              hr
          #team.owl-carousel.owl-theme.row
            .item
              .thumbnail
                img.img-circle.team-img(src='users/damien.gif', alt='...')
                .caption
                  h3 Damien
                  p Dev front-end killer
                  p Blah blah
            .item
              .thumbnail
                img.img-circle.team-img(src='users/thomas.png', alt='...')
                .caption
                  h3 Thomas
                  p Dev back-end killer
                  p Blah blah
            .item
              .thumbnail
                img.img-circle.team-img(src='users/jeremy.jpg', alt='...')
                .caption
                  h3 Jérémy
                  p Dev back-end killer
                  p Blah blah
            .item
              .thumbnail
                img.img-circle.team-img(src='img/team/04.jpg', alt='...')
                .caption
                  h3 ???
                  p xxx
                  p Blah blah
            .item
              .thumbnail
                img.img-circle.team-img(src='img/team/04.jpg', alt='...')
                .caption
                  h3 Jenn Gwapa
                  p CEO / Founder
                  p Do not seek to change what has come before. Seek to create that which has not.
            .item
              .thumbnail
                img.img-circle.team-img(src='img/team/01.jpg', alt='...')
                .caption
                  h3 Jenn Gwapa
                  p CEO / Founder
                  p Do not seek to change what has come before. Seek to create that which has not.
            .item
              .thumbnail
                img.img-circle.team-img(src='img/team/02.jpg', alt='...')
                .caption
                  h3 Jenn Gwapa
                  p CEO / Founder
                  p Do not seek to change what has come before. Seek to create that which has not.
            .item
              .thumbnail
                img.img-circle.team-img(src='img/team/03.jpg', alt='...')
                .caption
                  h3 Jenn Gwapa
                  p CEO / Founder
                  p Do not seek to change what has come before. Seek to create that which has not.

  .align-center
      img(src="YellowCheeseWax.jpg")
  nav#footer
  .container
    .pull-left.fnav
      p
        | ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by 
        a(href='https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template') Robert Berki
        |  and Coded by 
        a(href='https://dribbble.com/jennpereira') Jenn Pereira
    .pull-right.fnav
      ul.footer-social
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-dribbble
        li
          a(href='#')
            i.fa.fa-google-plus
        li
          a(href='#')
            i.fa.fa-twitter
