.main.container.page(ng-class="pageClass")
    h1 
      | Se connecter 
      small sur le site du Wax
    #tf-connect
        .container
          .row
            .col-md-6
              div(ng-hide="$auth.currentUser")
                .col-md-10
                  br
                  br
                  br
                  .panel.panel-default
                    .panel-heading
                      h3.panel-title
                      strong Se connecter
                    .panel-body
                      .alert.alert-warning(ng-show="error") Erreur : {{error}}
                      form(role='form')
                        .form-group
                          label(for='exampleInputEmail1') Email
                          input#exampleInputEmail1.form-control(type='email', placeholder='Votre email (...@atixnet.fr)', ng-model="credentials.email")
                        .form-group
                          label(for='exampleInputPassword1')
                              | Mot de passe 
                              a(href='#', ng-click="reset()") (mot de passe oublié)
                          input#exampleInputPassword1.form-control(type='password', placeholder='Mot de passe', ng-model="credentials.password")
                        button.btn.btn-sm.btn-primary.pull-right(ng-click="login()",type='submit') Se connecter
                        //- button.btn.btn-sm.btn-default(ng-click="register()",type='submit') S'enregistrer
                                
              div(ng-show="$auth.currentUser")
                h1 Logout
                p
                  a(ng-click="logout()", ng-show="$auth.currentUser") Logout
            .col-md-6
              .about-text
                .section-title
                  h4
                    | Se connecter 
                    strong sur le WAX
                  hr
                  .clearfix
                p.intro
                  | En vous connectant sur le site avec votre compte Atixnet, vous pourrez :
                ul.about-list
                  li
                    span.fa.fa-lightbulb-o
                    strong Soumettre des idées
                    br
                    |  En soumettant une idée sur le site, vous permettez aux autres de voter pour votre projet. Uniquement deux projets seront élus, alors que le meilleur gagne :)
                    em
                  li
                    span.fa.fa-bookmark
                    strong Voter pour une et une seule idée
                    br
                    |  En tant que waxer, je peux voter pour une seule idée, celle que je trouve la meilleure. Je ne peux pas voter pour ma propre idée car je suis un participant obligatoire à mon projet.
                    em 
                  li
                    span.fa.fa-thumbs-o-up
                    strong Liker des idées
                    br
                    |  Chacun peut liker des projets proposés. Ces like seront pris en compte pour le choix final des deux meilleures idées.
                    em 
    
    .modal.fade(id="forgotPassword")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Mot de passe oublié
          .modal-body
              p Un lien vient de vous être envoyé par mail. Ce lien vous permettra de choisir un nouveau mot de passe.
              p Attention de bien vérifier vos spams !
              
  .modal.fade(id="forgotPasswordNoUser")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Mot de passe oublié
        .modal-body
            p Attention l'email est obligatoire !
                
    .modal.fade(id="popup")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Ajout d'images
          .modal-body
              .drop-box(ng-hide="imgSrc", ngf-drop='', ngf-select='', ngf-change='addImage($files)', ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", ngf-multiple='false', ngf-allow-dir='false', ngf-accept="'image/*'", ngf-drop-available='dropAvailable')
                  div Click here to select image
                  strong OR
                  div(ng-show='dropAvailable') You can also drop image to here
              .ng-crop-container(ng-show='imgSrc')
                p Great! Now edit & crop your image...
                img-crop(image='imgSrc', result-image='myCroppedImage', area-type='square')
          .modal-footer
              a.btn.btn-primary(ng-click='saveCroppedImage()', ng-disabled='!imgSrc') Save Image   
