.main.container.page(ng-class="pageClass")
    div(ng-hide="$root.currentUser")
    .col-md-4.col-md-offset-4
        .panel.panel-default
            .panel-heading
                h3.panel-title
                strong Se connecter
            .panel-body
                .alert.alert-warning(ng-show="error") Erreur : {{error}}
                form(role='form')
                    //- .image
                    //-     .avatar.align-center(ng-click="showPopup()")
                    //-         .info(ng-hide="avatar")
                    //-             .btn.btn-default Choisir un avatar
                    //-         img(src="avatar.jpg", ng-hide="avatar")
                    //-         img(width="100" ,src="avatar.jpg", ng-src="{{avatar.url()}}", ng-show="avatar")
                    .form-group
                        label(for='exampleInputEmail1') Email
                        input#exampleInputEmail1.form-control(type='email', placeholder='Votre email (...@atixnet.fr)', ng-model="credentials.email")
                    .form-group
                        label(for='exampleInputPassword1')
                            | Mot de passe 
                            a(href='#', ng-click="reset()") (mot de passe oublié)
                        input#exampleInputPassword1.form-control(type='password', placeholder='Mot de passe', ng-model="credentials.password")
                    button.btn.btn-sm.btn-primary.pull-right(ng-click="login()",type='submit') Se connecter
                    //- button.btn.btn-sm.btn-default(ng-click="register()",type='submit') S'enregistrer
        
    div(ng-show="$root.currentUser")
        h1 Logout
        p
            a(ng-click="logout()", ng-show="$root.currentUser") Logout

    .modal.fade(id="popup")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Ajout d'images
          .modal-body
              .drop-box(ng-hide="imgSrc", ngf-drop='', ngf-select='', ngf-change='addImage($files)', ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", ngf-multiple='false', ngf-allow-dir='false', ngf-accept="'image/*'", ngf-drop-available='dropAvailable')
                  div Click here to select image
                  strong OR
                  div(ng-show='dropAvailable') You can also drop image to here
              .ng-crop-container(ng-show='imgSrc')
                p Great! Now edit & crop your image...
                img-crop(image='imgSrc', result-image='myCroppedImage', area-type='square')
          .modal-footer
              a.btn.btn-primary(ng-click='saveCroppedImage()', ng-disabled='!imgSrc') Save Image   
