a.btn(ng-click="like()", ng-class="cssClasses")
    span(ng-if='alreadyLiked()', tooltip="Je n'aime plus").fa.fa-thumbs-o-down
    span(ng-if='!alreadyLiked()', tooltip="J'aime").fa.fa-thumbs-o-up
        
    
