span(ng-click="like()", ng-class="cssClasses")
    span(ng-if='alreadyLiked()', tooltip="Je n'aime plus")
        span.text Je n'aime plus 
        i.fa.fa-thumbs-down
    span(ng-if='!alreadyLiked()', tooltip="J'aime")
        span.text J'aime 
        i.fa.fa-thumbs-up
        
    
