.container
    h1 
        | A propos 
        small du site du Wax
    br
    div.col-md-6
        div.panel.panel-default
            div.panel-heading 
                h4 Todo : reste à faire
            div.panel-body
                .alert.alert-danger Ajout des comptes non Waxers
                .alert.alert-danger Fonctionnalité du like sur projets : UI
                .alert.alert-warning Trier par nombre de likes
                .alert.alert-warning Passer les uploads sur cloudinary
                .alert.alert-warning Compléter texte commercial
                .alert.alert-warning Image pour la home dans réalisations
                .alert.alert-warning Page de contact
                .alert.alert-warning Création rapide : popup pour les détails d'un évènement
    .col-md-6
        .panel.panel-default
            .panel-heading 
                h4 Tech
            .panel-body
                p Made with Meteor/Angular and  
                    i.glyphicon.glyphicon-heart-empty
                    |  by Julien. 
                p
                    | Sources 
                    a(href="https://github.com/julienfroidefond/wax") on github
                    |  hosted by 
                    a(href="https://heroku.com") heroku
                .row
                    .col-xs-4
                        img.img-responsive(src="meteor-logo.png", height="40")
                    .col-xs-4
                        img.img-responsive(src="angular.png", height="40")
                    .col-xs-4
                        img.img-responsive(src="heroku.png", height="40")
    .col-md-6
        .panel.panel-default
            .panel-heading 
                h4 Users list
            .panel-body
                div.row
                    div.col-sm-6(ng-repeat="user in users")
                        avatar(width='40', user="user")
                        br
                            
