.container
    h1 A propos
    br
    div.col-md-6
        div.panel.panel-default
            div.panel-heading 
                h4 Todo : reste à faire
            div.panel-body
                .alert.alert-danger Login seulement atixnet : Meteor.startup + suppression register
                .alert.alert-warning Jointures pour les avatars ? En dur sur les posts.
                .alert.alert-warning Supprimer des images dans le détail de l'idée
                .alert.alert-warning Création rapide : popup pour les détails d'un évènement
                .alert.alert-warning Design home page (Presque ok)
                .alert.alert-warning Design global
    .col-md-6
        .panel.panel-default
            .panel-heading 
                h4 Tech
            .panel-body
                p Made with Meteor and with 
                    i.glyphicon.glyphicon-heart-empty
                    |  by Julien 
                    a(href="https://github.com/julienfroidefond/wax") on github
                    |  hosted by 
                    a(href="https://heroku.com") heroku
    .col-md-6
        .panel.panel-default
            .panel-heading 
                h4 Users list
            .panel-body
                div(ng-repeat="user in users")
                    .row
                        .col-xs-2
                            img.img-circle(width="40", ng-src="{{getImageUrl(user.profile.avatar)}}")
                        .col-xs-10
                            |  {{user.emails[0].address}} 
                    br
                        
