.container
  h1 
    | A propos 
    small du site du Wax
  br
  .row
    .col-md-12
      div.panel.panel-default
        div.panel-heading 
          h4 Déroulement du WAX
        div.panel-body.helper
          .row
            .col-md-3.col-sm-6.help-box
              i.fa.fa-lightbulb-o
              h4 1- La soumission d'idées
              p Sur ce site, vous allez pouvoir soumettre votre projet à l'ensemble d'Atixnet. Chacun pourra le liker. Les waxers eux pourront voter pour et s'inscrire à votre projet.
            .col-md-3.col-sm-6.help-box
              i.fa.fa-thumbs-o-up
              h4 2- Le vote
              p En mai, il ne restera que deux projets. Donc chacun des waxers aura soit un nombre de votant conséquent, soit sera inscrit pour un des projets (donc le vote est obligatoire).
            .col-md-3.col-sm-6.help-box
              i.fa.fa-desktop
              h4 3- Le second tour
              p Il se peut fortement qu'à la fin des six mois, il ne reste pas que deux idées avec le nombre de votant total ! Donc, nous élierons les deux meilleurs projets en fonction des likes et des votes, puis nous demanderons à ceux qui ne sont pas dans ces deux projets d'en choisir un seul.
            .col-md-3.col-sm-6.help-box
              i.fa.fa-terminal
              h4 4- L'évènement
              p En mai, pendant une semaine à Bordeaux, nous nous retrouvons tous, et nous réalisons les deux projets. Le dernier jour, le CEO évaluera le meilleur projet  
                   
    .col-md-6
      .panel.panel-default
        .panel-heading 
          h4 Todo : reste à faire
        .panel-body
          .alert.alert-info cf https://app.asana.com/0/82230657363260/list
    
    .col-md-6
      .panel.panel-default
        .panel-heading 
          h4 Tech
        .panel-body
          p Made with Meteor/Angular and  
            i.glyphicon.glyphicon-heart-empty
            |  by Julien. 
          p
            | Sources 
            a(href="https://github.com/julienfroidefond/wax") on github
            |  hosted by 
            a(href="https://heroku.com") heroku
          p 
            | Avatar images hosted and resized ... 
            a(href="http://cloudinary.com/") on cloudinary
          p 
            | Email sent by 
            a(href="http://mailgun.com/") mailgun
          .row
            .col-xs-4
              img.img-responsive(src="meteor-logo.png", height="40")
            .col-xs-4
              img.img-responsive(src="angular.png", height="40")
            .col-xs-4
              img.img-responsive(src="heroku.png", height="40")
                
    //- .col-md-6
    //-   .panel.panel-default
    //-     .panel-heading 
    //-       h4 Users list
    //-     .panel-body
    //-       div.row
    //-         div.col-sm-6(ng-repeat="user in users")
    //-           avatar(width='40', user="user")
    //-           br
                            
